/*body {
  margin: 0;
  padding: 0;
    font-family: Arial;

    background-size: cover;*!
}*/

body {
  display: block;
  margin: 0 auto;
  z-index: 0;
  font-family: Open Sans, sans-serif;
}

body::after {
  background: url("../images/desert.jpg");
  background-size: cover;
  content: "";
  opacity: 0.4;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 15%;
  background-color: #e0f7fa;
}

main {
  margin: 4%;
}

h1 {
  color: grey;
}

h2 {
  color: grey;
}

p {
  color: #9e9e9e;
  margin: 0;
}

.textCenter {
  text-align: center;
}
