.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  max-width: 500px;
  padding: 10px 14px;
  font-size: 1em;
  font-family: "Source Code Pro", monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}

.payBtn {
  white-space: nowrap;
  border: 0;
  outline: 0;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: #fff;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  background-color: #6772e5;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  margin-top: 10px;
}

.payBtn:focus {
  cursor: pointer;
}

.ElementsApp input {
  background-color: transparent;
  border: none;
  display: block;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1em;
  line-height: 1.2em;
  height: 1.2em;
}

.InputContainer {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.ElementsApp,
.ElementsApp .InputElement {
  font-size: 16px;
  color: #424770;
  letter-spacing: 0.025em;
  margin: 0;
}

.input:focus,
.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  transition: all 150ms ease;
}

label {
  color: #757575;
}

.justify {
  text-align: justify;
}

.container {
  margin: auto 5%;
}

.text-center {
  text-align: center;
}

.error {
  color: #c23d4b;
}

.cardImg {
  max-width: 300px;
}

.paymentTextContainer {
  font-size: 0.9em;
  padding: 5%;
}

.paymentTextStyle {
  font-style: italic;
  text-align: center;
  color: #8bc34a !important;
}

.btnWrapper {
  position: relative;
}

.disableForm {
  opacity: 0.3;
}
